name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    # Cache Bazel artifacts to speed up future runs
    - name: Mount bazel cache
      uses: actions/cache@v4
      with:
        path: "/home/runner/.cache/bazel"
        key: bazel-${{ runner.os }}-${{ hashFiles('MODULE.bazel.lock') }}
        restore-keys: bazel-${{ runner.os }}

    - name: Setup Bazel
      uses: bazelbuild/setup-bazelisk@v2

    - name: Build
      run: bazel build //...

    - name: Test
      run: bazel test //...
