name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Setup Bazel
      uses: bazel-contrib/setup-bazel@0.8.5
      with:
        # Avoid downloading Bazel for every run.
        bazelisk-cache: true
        # Store build cache to speed up tests.
        disk-cache: ${{ github.workflow }}
        # Share repository cache between workflows.
        repository-cache: true

    - name: Build
      run: bazel build //...

    - name: Test
      run: bazel test //...
